body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.pagina-principal {
  padding: 2rem 3rem;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #e50914;
  margin-bottom: 3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.cargando {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #bbb;
}
.btn-volver {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s ease;
}

.btn-volver:hover {
  color: #e50914;
}