body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141414;
  color: #fff;
}

.pagina-principal {
  padding: 2rem 3rem;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #e50914;
  margin-bottom: 3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.cargando {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #bbb;
}
